.custom-checkbox {
  margin-right: 10px; /* Adjust this value for desired spacing */
}

body {
  
  
  background-image: url("todopic.jpg"); /* Replace 'your_image_url.jpg' with the image URL */
  
}
.container{
  margin-top: 20px;
}